body{
    text-align: center;
    background-color: aqua;
}
.container{
    border: 2px solid red;
    display: block;
    justify-content: center;
}
.box
{
    font-size: 50px;
    padding: 50px;
}
.boxe{
    background-color: yellow;
    border: 2px dotted red;
    width: 716px;
    margin: auto;
    padding-top: 20px;
}